* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 1231px;
    height: 72px;
    margin-left: auto;
    background-color: orange;
    padding: 12px 24px;
}
#box {
    width: 1183px;
    height: 48px;
    background-color: pink;
    display: flex;
    align-items: space-between;
}

ul {
    list-style: none;
    display: inline-block;
}
nav { 
    margin: auto;
    vertical-align: middle;
    display: inline-block;
}

nav ul li {
    margin-right: 20px;
    display: inline-block;
}

#logo{
    vertical-align: middle;
    display: inline-block;
}

a {
    text-decoration: none;
}

nav ul li a{
    color: gray;
}

#contact-us {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid black;
    border-radius: 8px;
    width: 105px;
    height: 33px;
    margin: auto 0;
}

#image-one {
    width: 610px;
    height: 458px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 214px;
    margin-left: 45px;
}

h2 {
    width: 644px;
    height: 48px;
    display: inline-block;
    text-align: center;
    font-family: Inter;
font-size: 40px;
font-weight: 700;
line-height: 48.41px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
margin-bottom: 16px;
}

#first {
    width: 644px;
    height: 325px;
    display: inline-block;
    background-color: pink;
    vertical-align: middle;
    margin-top: 294px;
}

#first p {
    width: 100%;
    display: inline-block;
    font-family: Prata;
font-size: 20px;
font-weight: 400;
line-height: 27.1px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
margin-bottom: 12px;
}

#first ol {
    margin-block: unset;
    margin-left: 30px;
}

ol li {
    margin-top: 12px;
    font-family: Fira Sans;
font-size: 24px;
font-weight: 400;
line-height: 32px;
text-underline-position: from-font;
text-decoration-skip-ink: none;
}



